.taskList {
    display: flex;
    flex-direction: column;

    width: 47.5rem;
    margin-bottom: 0.75rem;
}

.contentTasks {
    background-color: var(--gray-500);
    border: 0;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.125rem;
    margin-bottom: 0.75rem;
}

.line {
    text-decoration: line-through;
}

.noLine {
    text-decoration: none;
}

.contentTasks label {
    color: var(--gray-100);
    line-height: 1.4;
    font-size: 1rem;
    text-align: left;

    display: flex;
    align-items: center;
}

.contentTasks button {
    background-color: transparent;
    color: var(--gray-300);
    border: 0;
    cursor: pointer;
}

.contentTasks button:focus {
    box-shadow: 0 0 0 0;
}

.contentTasks button:hover {
    color: var(--danger);
}

.cont {
    display: flex;
    align-items: center;
    transform: scale(1);
}

input[type="checkbox"] {
    height: 1.7rem;
    width: 1.7rem;
    margin: 5px;
    display: inline-block;
    appearance: none;
    position: relative;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    margin-right: 1.125rem;
    border: 2px solid var(--blue);
}

input[type="checkbox"]:checked {
    border: none;
}

input[type="checkbox"]::after {
    content: '';
    display: block;
    height: 0.8rem;
    width: .3rem;
    border-bottom: .31rem solid var(--gray-100);
    border-right: .31rem solid var(--gray-100);
    opacity: 0;
    transform: rotate(45deg) translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 25%;
    transition: .25s ease;
}

input[type="checkbox"]::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    background-color: var(--purple-dark);
    border-radius: 50%;
    opacity: .5;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .3s ease;
}

input[type="checkbox"]:checked::before {
    height: 130%;
    width: 130%;
    opacity: 100%;
}

input[type="checkbox"]:checked::after {
    opacity: 100%;
}

@media (max-width: 768px) {
    .taskList {
        width: 20rem;
    }

    .contentTasks {
        padding: 1.25rem 1.125rem;
    }

    .contentTasks input[type="checkbox"] {
        height: 1.25rem;
        width: 1.25rem;
    }

    .contentTasks p {
        font-size: 0.875rem;
    }
}